@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

*{
	border: 0;
	margin: 0;
	padding: 0;
}

body,
html{
	width: 100%;
	height: 100%;
	display: block;
}

body{
	background-image: -webkit-radial-gradient(center, #f3f3f3, #fff);
	background-image: radial-gradient(center, #f3f3f3, #fff);
}

img{
	max-width: 100%;
	height: auto;
	box-sizing: border-box;
}

article,
footer,
main,
header{
	padding: .5rem 0;
	margin: 0rem 2rem;	
}
header h4{
	float: right;
	margin-top: 1rem;
	font-weight: 100;
	font-size: 40px;
	line-height: 1;
	text-align: right;
	font-family: 'Shadows Into Light', cursive;
}

nav > ul{
	display: block;
	padding: .25rem 0;
	margin: 0rem 2rem;	
}

nav{
	background-color: #F66013;
}

ul > li{
	position: relative;
	/*background: white;*/
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	font-family: Helvetica;
	text-align: center;
	color: white;
	padding: 1rem .5rem;
	width: calc(100% / 4 - 1.2rem);
	transition: all .25s ease;
}

ul > li:hover{
	background: #323232;
	color: white;
}

ul > li > ul{
	position: absolute;
	top: calc( 106% + .2rem);
	left: 0;
	width: 100%;
	opacity: 0;
	transition: all .5s ease;
	display: block;
	z-index: -1;
}
ul > li:hover > ul{
	z-index: 1;
	opacity: 1;
}
ul > li > ul > li{
	background-color: #323232;
	display: block;
	width: 100%;
	font-family: Helvetica;
	text-align: center;
	padding: 1rem .5rem;
}
ul > li > ul > li > ul{
	position: absolute;
	top: 0;
	left: 102%;
}

main{
	-webkit-display: flex;
	-moz-display: flex;
	display: flex;
	padding: 1rem 0;
}

main aside h1,
main section h1{
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px;
	color: #f60;
	text-shadow: 0 0 3px #323232;
	padding-bottom: 1rem;
	line-height: 1;
	border-bottom: solid thin #f60;
	margin-bottom: 1.5rem;
	width: 98%;
}
main section img{
	display: inline-block;
	vertical-align: top;
	margin-top: .31rem;
	width: calc(100% / 2 - .5rem);
}
main aside img{
	margin-top: .31rem;
	width: 100%;
}
main aside img,
main section img{
	border-radius: 3px;
	border: solid 6px #111;
}

article,
main aside,
main section{
	-webkit-flex: 1 1 0%;
	-moz-flex: 1 1 0%;
	flex: 1 1 0%;
	margin: 0 .5rem;
	background: #fefefe;
	padding: .5rem;
	border-radius: 3px;
}
main section{
	-webkit-flex: 1 1 30%;
}

article{
	padding: 2rem;
	text-align: center;
	text-transform: capitalize;
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
}
article table{
	width: 500px;
	max-width: 100%;
	margin: 0rem auto 2rem; 
}

tr,
th,
td{
	border: solid thin #f60;
}

footer{
	background: #F66013;
	color: white;
	margin: 0;
	padding: 1rem 0rem;
	text-align: center;
}
footer span{
	font-family: Helvetica;
	font-size: 12px;
	text-transform: capitalize;
}